
.html {
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
.back {
  background-color: black;
  background-repeat:repeat;
  padding: 50vh;
 
 
}
html,
.imagem {
    background-image: url(./img/bandeira.png);
    background-size: 40%;
    background-repeat: repeat;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100vh;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 200;
    padding: 10vh;
    margin-right: 34vh;
    max-width: 980px;
}

.title h1 { 
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family:fantasy;
    width: 100%;
    text-shadow: 15px 5px 5px rgb(145, 2, 2),
                 10px 5px 5px rgb(145, 2, 2);
    flex-wrap: wrap;

}
.title h3 {
    text-align: center;
    color: #ffffff;
    font-family:fantasy;
    width: 100%;
    text-shadow: 15px 5px 5px rgb(145, 2, 2),
                 10px 5px 5px rgb(145, 2, 2);
    font-size: 200;
    flex-wrap: wrap;
}

.encode-input input {
    left: 65vh;
   
    position: absolute;
    bottom: 8vh;
    width: 50vh;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: none;
    
    font-family:fantasy;
    text-shadow: 10px 5px 5px rgb(145, 2, 2),
                 10px 5px 5px rgb(145, 2, 2);
    font-size: 1rem;
    border-radius: 5px;
    border: 2px;
    flex-wrap: wrap;
    
   


}
.decode-input input {

    
    left: 95vh;
    position: absolute;
    bottom: 8vh;
    width: 70vh;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: none;
    border-radius: 5px;
    font-family:fantasy;
    text-shadow: 10px 5px 5px rgb(145, 2, 2),
                 10px 5px 5px rgb(145, 2, 2);
    font-size: 1rem;
    border-radius: 5px;
    border: 2px;
    
}

.last-input {
    position: absolute;
    font-size: .75rem;
    border-radius: 5px;
    background-color: white;
    border: 3px solid color(black);
    height: 5vh;
    width: 50vh;
    box-sizing: border-box;
    max-width: 980px;
    bottom: 65vh;
    right: 84vh;
}

.clear {
    width: 70vh;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: none;
    border-radius: 5px;
    font-family:fantasy;
    text-shadow: 10px 5px 5px rgb(145, 2, 2),
                 10px 5px 5px rgb(145, 2, 2);
    font-size: 1rem;
    border-radius: 5px;
    border: 2px;
    }